//
//  _reset.scss
//
//  Created by Poll Castillo on 14/02/2023

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-smooth: all;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

body, html, .app, input, a, p, button, select, table, td, tr, th {
    font-family: 'Inter';
    font-weight: $medium;
    font-size: 14px;
    color: #274242;
}

body, html, .app {
    overflow: hidden;
}

.feather, .app, a, p, tr, td, th, button, select, table, b, i {

    transition: 0.3s all ease-in-out;
}