//
//  _variables.scss
//
//  Created by Poll Castillo on 14/02/2023
//

// Fonts
$thin: 100;
$extraLight: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

// colors
$dark: #26233A;
$red: #DB4545;
$yellow: #F76400;
$green: #5DBD51;
$white: #FFFFFF;
$slategray: #706F8E;
$gray: #E9EAEF;
$grayLightBlue: #F5F6FA;
$blue: #6F7ADD;

$sidebarBackgroundColor: $dark;