//
//  _content.scss
//
//  Created by Poll Castillo on 14/02/2023

.app {

    &_content {
        background-color: $grayLightBlue;
        width: 100%;
        height: 100%;
        display: block;

        .app_topbar {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 16px 32px;
            width: 100%;
        }

        .user {
            display: flex;
            align-items: center;

            .welcome {
                margin-right: 16px;
                font-weight: $bold;
                color: $slategray;
            }

            .separator {
                display: block;
                width: 1px;
                height: 64px;
                background-color: $gray;
            }

            .userAvatar {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 42px;
                width: 42px;
                background-color: $gray;
                margin-left: 16px;
                border-radius: 100px;
                font-size: 22px;

                .fa-user {
                    color: lighten($dark, 50%);
                    font-size: 14px;
                }
            }

            .nameAndCustomer {
                margin: 0 16px;
            }

            .name {
                font-weight: $bold;
                color: $dark;
            }

            .customer {
                display: block;
                color: $slategray;
            }

            .settings_button {
                display: block;

                button {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-osx-appearance: none;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: none;
                    height: 32px;
                    width: 32px;
                    border-radius: 100px;
                    background-color: rgba($gray, 0.5);
                    transition: 0.3s all ease-in-out;

                    &:hover { background-color: $gray; }

                    .fa-gear {
                        margin: 0;
                        line-height: 0;
                        color: $slategray;
                        padding: 0;
                        font-size: 18px;
                    }
                }

            }
        }
    }
}